.carousel{
  height: 500px;
}
.carousel-item img{
  height: 500px;
  filter: contrast(.5);
  filter: grayscale(.5)
}
.textm{
  margin: 25px;
}
/* changed color of buttons to pink also on hover */
.btn-primary{
  background-color: rgb(248, 87, 114);   
  color: black;
}
.btn-primary:hover{
  background-color: rgb(252, 121, 143);
  color: black;
}
.webprase img{
  margin: 10px 10px 10px 300px;
  height: 70%;
}