ul.list-group{
    background-color:white
}

li.list-group-item{
    background-color: white
}
a{
    color: black;
    text-decoration: none;

}

a.dropdown-item{
    width:100px;
    height: 10px;
    font-size: 18px;
    padding: 2px;
    margin:4px;
}

.navbar-inverse .navbar-nav > li > a{
    font-size:20px;
    color:rgb(12, 12, 12);
    font-synthesis: inherit
}

.navbar-inverse {
    height:15vh;
    background-color:rgb(107, 105, 105);

}

.navbar-inverse .navbar-brand{
    color:rgb(10, 10, 10);
    font-size:20px

}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color:white;
    
}
img{
    height:100px;
    width:100px;
}
/* a:hover{
    color:;
} */
 .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color:white;
} 

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color:white;
    background-color: white;
}

a.dropdown-item {
    color: rgb(255, 254, 254);
}

a#navbarDropdownMenuLink.nav-link.dropdown-toggle{
    color:rgb(5, 5, 5);
}
a.dropdown-item{
    text-decoration: none;
    color: black;
}

body{
    opacity:0.9;   
}

div.container{
    width:1200px;
}

nav.navbar.navbar-inverse{
    height:10vh;
}

h2.description{
    text-align: center;
    color: black;
    font-size: 17px;
    
}
h3.price{
    text-align: center;
    color: black;
    
}

.header-category {
    width: 70%;
    margin-left: -50px;
}

